//  abstract
@import "./abstract/mixins";
@import "./abstract/variables";

//  base
@import "./base/_base";
@import "./base/_animation";
@import "./base/_typography";

//  components
@import "./components/_nav";
@import "./components/_blocks";
@import "./components/_card-product";
@import "./components/_input";
@import "./components/button";


//  layout
@import "./layout/_banner";
@import "./layout/_footer";

//  page
@import "./page/_home";
