header {
    height: 80vh;
    background-image: url("../../asset/images/background-header.jpg");
    background-size: cover;
}

.custom-jumbotron{
    height: 75vh!important;
    padding: 0!important;
    background-color: rgb(241, 241, 241)!important;

    &--woman{
        height: 75vh;
    }

    &--win-banner{
        height: 35vh;
    }
}

.content-banner{
    &--green-vera{
        width: 65%;
    }
    &--buy{
        // @include deco-a();

    }
}
