footer {
    background-color: rgb(46, 46, 46);
    padding: 40px 0;

    .text {
        font-size: 14px;
        line-height: 2.5;

        strong {
            color: whitesmoke;
        }
    }
}
