footer {
    background-color: $color-black;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;

    .text {
        font-size: 14px;
        line-height: 2.4;

        strong {
            color: whitesmoke;
        }
    }
}
