* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 16px; }
  @media (max-width: 992px) {
    html {
      font-size: 14.5px; } }
  @media (max-width: 756px) {
    html {
      font-size: 13px; } }
  @media (max-width: 576px) {
    html {
      font-size: 12px; } }

body {
  width: 100%;
  height: 100%;
  font-family: Tahoma; }

.para {
  color: #1d1d1d; }
  .para--pay {
    color: whitesmoke; }
  .para--detail {
    font-size: 14px;
    color: #505050; }

.custom-nav {
  height: 60px !important;
  background-color: whitesmoke;
  box-shadow: 0 1px 2px rgba(128, 128, 128, 0.2);
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0.8; }
  .custom-nav--logo {
    height: 40px; }
  .custom-nav--cart {
    height: 18px;
    color: #1d1d1d; }
  .custom-nav--list {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold; }
    .custom-nav--list li a:hover {
      color: #07be16 !important; }
  .custom-nav--brand {
    margin-right: 0; }

.block4 {
  position: relative; }
  .block4--square2 {
    position: absolute;
    left: 30px; }

.custom-card {
  border: none !important; }
  .custom-card--title {
    font-size: 12px !important; }
  .custom-card--text {
    color: #6eb320; }

.custom-input {
  width: 100% !important; }
  .custom-input--page404 {
    border-radius: 100px;
    width: 68%;
    height: 35px;
    border: 1px rgba(29, 29, 29, 0.5) solid;
    padding: 0 20px; }
  .custom-input--detail {
    width: 70% !important; }

.custom-dropdown-menu {
  position: relative; }

.menu__item {
  width: 600px;
  position: absolute;
  left: -95%;
  padding: 20px;
  background-color: white;
  border: 1px #6eb320 solid; }
  .menu__item--detail {
    float: left; }
    .menu__item--detail a {
      text-decoration: none;
      color: #1d1d1d;
      display: inline-block;
      display: block; }
      .menu__item--detail a:hover {
        text-decoration: none;
        color: #6eb320; }
    .menu__item--detail .fas {
      cursor: pointer; }
  .menu__item--shoppingcart {
    width: 220px;
    left: 0;
    padding: 5px; }

.custom-btn {
  border-radius: 0 !important;
  border: 1px #c9c9c9 solid !important;
  margin-bottom: 5px;
  display: block; }
  .custom-btn:hover {
    background-color: #6eb320 !important; }
  .custom-btn--update {
    background-color: #6eb320 !important; }
  .custom-btn--detail {
    border-radius: 15px !important;
    border: 2px #c9c9c9 solid !important; }

.custom-breadcrumb {
  background-color: transparent !important; }

header {
  height: 80vh;
  background-image: url("../../asset/images/background-header.jpg");
  background-size: cover; }

.custom-jumbotron {
  height: 75vh !important;
  padding: 0 !important;
  background-color: #f1f1f1 !important; }
  .custom-jumbotron--woman {
    height: 75vh; }
  .custom-jumbotron--win-banner {
    height: 35vh; }

.content-banner--green-vera {
  width: 65%; }

footer {
  background-color: #1d1d1d;
  padding: 20px 0;
  margin-top: 50px; }
  footer .text {
    font-size: 14px;
    line-height: 2.4; }
    footer .text strong {
      color: whitesmoke; }

.block-product--block4 {
  width: 100%;
  height: 100%;
  position: relative; }
  .block-product--block4--img2 {
    position: absolute;
    left: -12px;
    width: 107% !important; }
  .block-product--block4--img3 {
    position: absolute;
    left: 0px;
    z-index: 2;
    width: 107.5% !important; }
  .block-product--block4--img4 {
    position: absolute;
    left: 6px;
    z-index: 1;
    width: 101.5% !important; }

.review {
  padding: 60px 0;
  background-image: url("../../asset/images/bg-flower-client.png");
  background-repeat: no-repeat;
  background-position: 80%, 100%; }
  .review--image {
    clip-path: circle(50% at 50% 50%); }
  .review .custom-caption {
    bottom: -5px !important; }

.spbc {
  padding: 60px 0;
  background-image: url("../../asset/images/bg-spbc.png"); }

.information {
  padding: 50px 0; }
  .information--image {
    width: 100%; }
    .information--image--spbc {
      width: 60%; }
    .information--image--blog {
      width: 100% !important; }
  .information--p {
    font-size: 14px;
    text-align: start; }
  .information--a {
    font-size: 14px;
    text-align: start;
    display: inline-block; }

.content-blog--img {
  width: 100%; }

@media (max-width: 756px) {
  .last-article {
    display: none; } }

@media (max-width: 576px) {
  .second-article {
    display: none; } }

.gird__img {
  width: 100%; }

.gird__deco-a {
  text-decoration: none;
  color: #1d1d1d;
  display: inline-block; }
  .gird__deco-a:hover {
    text-decoration: none;
    color: #6eb320; }

.gird__product {
  cursor: pointer;
  transition: 0.2s; }
  .gird__product:hover {
    transform: translateY(-4px);
    border-bottom: 1px #6eb320 solid; }
