.block-product {
    &__img {
        @include fullsize;
    }

    @include respond(desktop) {
        #block1,
        #block4,
        #block8,
        #block9 {
            @include fullsize;
        }
        #block2,
        #block3,
        #block7,
        #block10 {
            width: 107.5%;
        }
        #block5 {
            width: 110%;
        }
        #block6 {
            width: 106.5%;
        }
    }
    @include respond(tab-view) {
        #block1,
        #block4,
        #block8,
        #block9 {
            @include fullsize;
        }
        #block2,
        #block3,
        #block7,
        #block10 {
            width: 107.5%;
        }
        #block5 {
            width: 110%;
        }
        #block6 {
            width: 106.5%;
        }
    }
    @include respond(tab-port) {
        #block1,
        #block4,
        #block8,
        #block9 {
            @include fullsize;
        }
        #block2,
        #block3,
        #block7,
        #block10 {
            width: 107.5%;
        }
        #block5 {
            width: 114%;
        }
        #block6 {
            width: 108.5%;
        }
    }
    @include respond(phone) {
        #block8 {
            width: 89%;
        }
        #block1,
        #block4,
        #block9 {
            width: 101%;
        }
        #block2,
        #block3 {
            width: 97%;
        }
        #block5 {
            width: 99%;
        }
        #block6 {
            width: 98.5%;
        }
        #block10,
        #block7 {
            width: 111%;
        }
    }
}

@media (max-width: 414px) {
    #block1,
    #block9 {
        width: 100% !important;
    }
    #block8 {
        width: 84% !important;
    }
    #block4 {
        width: 101%;
    }
    #block2,
    #block3 {
        width: 90% !important;
    }
    #block5 {
        width: 99%;
    }
    #block6 {
        width: 98.5%;
    }
    #block10,
    #block7 {
        width: 119%;
    }
}

.review {
    padding: 60px 0;
    background-image: url("../../asset/images/bg-flower-client.png");
    background-repeat: no-repeat;
    background-position: (80%, 100%);

    @include respond(desktop) {
        background-position: (100%, 100%);
    }
    @include respond(tab-port) {
        background-image: url("../../asset/images/bg-flower-client-small.png");
        background-position: (110%, 100%);
    }
    @include respond(phone) {
    }

    &__image {
        clip-path: circle(50% at 50% 50%);
    }

    & .custom-caption {
        bottom: -5px !important;
    }
}

.spbc {
    padding: 60px 0;
    background-image: url("../../asset/images/bg-spbc.png");
}

.information {
    padding: 50px 0;

    &--image {
        width: 100%;
        &--spbc {
            width: 60%;
        }

        &--blog {
            width: 100% !important;
        }
    }

    &--p {
        font-size: $text-small;
        text-align: start;
    }

    &--a {
        font-size: $text-small;
        text-align: start;
        display: inline-block;
    }
}

.navigation__checkbox {
    display: none;
}

.background {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: rgba($color-black, 0.6);
    z-index: 10;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__button {
    background-color: white;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    border-radius: 50%;
    z-index: 20;
    box-shadow: 0 1rem 3rem rgba(black, 0.2);
    text-align: center;
}

.navigation__checkbox:checked ~ .background {
    transform: scale(300);
}

.navigation__checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
}
