.custom-nav {
    height: 60px !important;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 1px 2px rgba(128, 128, 128, 0.2);
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0.8;

    &--logo {
        height: $logo-small;
    }

    &--cart {
        height: 18px;
        color: $color-black;
    }

    &--list {
        @include nav-option;

        & li a:hover {
            color: rgb(7, 190, 22) !important;
        }
    }

    &--brand {
        margin-right: 0;
    }
}
