.para {
    color: $color-black;
    font-weight: 400;
    &--pay {
        color: whitesmoke;
    }

    &--detail {
        font-size: $text-small;
        color: lighten($color-black, 20%);
    }
    &--text {
        color: #6eb320;
    }
    &--page404 {
        font-size: 20px;
    }
}
