doctype html
html(lang='en')
  head
    title Detail
    // Required meta tags
    meta(charset='utf-8')
    link( href="list.html")
    link(rel='stylesheet', href='../../asset/css/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    .detail
      nav.navbar.navbar-expand-md.navbar-light.bg-light.custom-nav
        .container
          a.navbar-brand.custom-nav--brand(href='./homev2.html')
            img.custom-nav--logo(src='../../asset/images/logo.png')
          button.navbar-toggler.d-lg-none(type='button', data-toggle='collapse', data-target='#collapsibleNavId', aria-controls='collapsibleNavId', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #collapsibleNavId.collapse.navbar-collapse
            ul.navbar-nav.mx-auto.mt-2.mt-lg-0.custom-nav--list
              li.nav-item.active
                a.nav-link(href='./homev2.html')
                  | Trang chủ
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='./aboutUs.html') Giới thiệu
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Sản phẩm
                .dropdown-menu.custom-dropdown-menu(aria-labelledby='navbarDropdown')
                  .menu__item
                    .menu__item--detail.mr-5
                      h6 DƯỠNG DA
                      hr
                      ul.list-unstyled.text-muted.text-lowercase.font-weight-normal
                        li
                          a(href='./gird.html') Áo khoác
                        li
                          a(href='./gird.html') Bộ áo liền quần
                        li
                          a(href='./gird.html') Trang sức
                        li
                          a(href='./gird.html') Quần/ váy
                        li
                          a(href='./gird.html') Quần short
                        li
                          a(href='./gird.html') Quần jean
                        li
                          a(href='./gird.html') Đồ đan
                        li
                          a(href='./gird.html') Áo nỉ
                    .menu__item--detail.ml-5.mr-5
                      h6 DƯỠNG DA
                      hr
                      ul.list-unstyled.text-muted.text-lowercase.font-weight-normal
                        li
                          a(href='#') Áo cánh/ áo sơ mi
                        li
                          a(href='#') Túi sách, balo
                        li
                          a(href='#') Khăn choàng cổ
                        li
                          a(href='#') Hats & Gloves
                        li
                          a(href='#') Vớ & socks
                        li
                          a(href='#') Jewerly
                        li
                          a(href='#') Bị bảo vệ
                        li
                          a(href='#') Giày thể thao
                    .menu__item--detail.ml-5
                      h6 DƯỠNG DA
                      hr
                      ul.list-unstyled.text-muted.text-lowercase.font-weight-normal
                        li
                          a(href='#') Áo khoác
                        li
                          a(href='#') Bộ áo liền quần
                        li
                          a(href='#') Dresses
                        li
                          a(href='#') Quần/ váy
                        li
                          a(href='#') Quần short
                        li
                          a(href='#') Quần jean
                        li
                          a(href='#') Đồ đan
                        li
                          a(href='#') Áo nhập khẩu
              li.nav-item
                a.nav-link(href='#')
                  | Tin tức
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='./page404.html') Bản đồ
              li.nav-item
                a.nav-link(href='./contactUs.html') Liên hệ
            li.nav-item.dropdown
              a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.fas.fa-shopping-cart.custom-nav--cart.mr-5.ml-5.mb-4
              .dropdown-menu.custom-dropdown-menu(aria-labelledby='navbarDropdown')
                .menu__item.menu__item--shoppingcart
                  .menu__item--detail.mb-4
                    img.mr-3.float-left(src='../../asset/images/man-spc.png')
                    p.float-left.mr-2.mb-1 Áo sơ mi nam
                    i.fas.fa-times
                    img.float-left(src='../../asset/images/navbar-120k.png')
                  .menu__item--detail.mb-4
                    img.mr-3.float-left(src='../../asset/images/man-spc.png')
                    p.float-left.mr-2.mb-1 Áo sơ mi nam
                    i.fas.fa-times
                    img.float-left(src='../../asset/images/navbar-120k.png')
                  hr
                  p.float-left.mr-5 Tổng số
                  figure
                    strong  240.000 đ
                  a.btn.btn-dark.custom-btn(name='', href='#', role='button') GIỎ HÀNG
            form.form-inline.my-2.my-lg-0
              a.deco-a(href='#')
                i.fas.fa-search
      nav(aria-label='breadcrumb')
        ol.breadcrumb.custom-breadcrumb
          .container
            .row
              li.breadcrumb-item
                a(href='../../pug/home.html') Home
              li.breadcrumb-item Sản phẩm
              li.breadcrumb-item Lắc tay
            hr
      .detail
        .container
          .row.content
            .col-3.col-md-1
              a(href='#')
                img.ml-2(src='../../asset/images/up-arrow.png')
              img(src='../../asset/images/detail1.png')
              img(src='../../asset/images/detail2.png')
              img(src='../../asset/images/detail3.png')
              img(src='../../asset/images/detail4.png')
              a(href='#')
                img.ml-2(src='../../asset/images/down-arrow.png')


      br
      article
        .container
          .row
            .col-lg-9
              a.mr-4.detail__deco-a(href='#')
                strong  ĐẶC ĐIỂM NỔI BẬT
              a.mr-4.detail__deco-a(href='#')
                strong THÔNG TIN SẢN PHẨM
              a.detail__deco-a(href='#')
                strong ĐÁNH GIÁ
              hr
            .col-md-3.d-none.d-lg-block
              a.detail__deco-a(href='#')
                strong SẢN PHẨM BÁN CHẠY
              hr
          .row
            .col-lg-9
              .row.align-items-center
                .col-10.col-md-8.order-2.order-md-1
                  a.mb-3.border-bottom.detail__deco-a(href='./blogDetail.html') THE MARK OF THE LEGEND
                  p.para.para--detail
                    | Tự hào được ghi là năm mà Tiffany & Co là
                    | thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    | qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    | đường cong và đường nét mượt mà.
                .col-md-4.mb-3.mb-md-3.order-1.order-md-2
                  img.detail__img(src='../../asset/images/sp-detail1.png')
              .row.align-items-center.ml-auto
                .col-10.offset-2.offset-sm-0.col-md-8.order-2.mb-5.text-right.text-sm-left
                  a.mb-3.border-bottom.detail__deco-a(href='./blogDetail.html') THE MARK OF THE LEGEND
                  p.para.para--detail
                    | Tự hào được ghi là năm mà Tiffany & Co là
                    | thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    | qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    | đường cong và đường nét mượt mà.
                .col-10.offset-2.offset-sm-0.col-md-4.mb-3.mb-md-3.order-1.order-md-1
                  img.detail__img(src='../../asset/images/sp-detail2.png')
              .row.align-items-center
                .col-10.col-md-8.order-2.order-md-1
                  a.mb-3.border-bottom.detail__deco-a(href='./blogDetail.html') THE MARK OF THE LEGEND
                  p.para.para--detail
                    | Tự hào được ghi là năm mà Tiffany & Co là
                    | thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    | qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    | đường cong và đường nét mượt mà.
                .col-md-4.mb-4.mb-md-3.order-1.order-md-2
                  img.detail__img(src='../../asset/images/sp-detail3.png')
              .row.align-items-center
                .col-md-8.order-2.text-right.text-sm-left
                  a.mb-3.border-bottom.detail__deco-a(href='./blogDetail.html') THE MARK OF THE LEGEND
                  p.para.para--detail
                    | Tự hào được ghi là năm mà Tiffany & Co là
                    | thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    | qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    | đường cong và đường nét mượt mà.
                .col-10.offset-2.offset-sm-0.col-md-4.order-1.mb-2.mb-md-3
                  img.detail__img(src='../../asset/images/sp-detail4.png')
            .col-md-3.d-none.d-lg-block
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              br
              .row
                .col-12.d-none.d-lg-block
                  a.detail__deco-a(href='#')
                    strong SẢN PHẨM BÁN CHẠY
                  br
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
      footer
        .container
          .row
            .col-md-4
              ul.text.list-unstyled.text-muted
                li
                  strong LIÊN HỆ VỚI CHÚNG TÔI
                li tầng 4, tòa nhà Hanoi Group Số 442 Hàng Giấy, Quận Hoàn Kiếm, Thành phố Hà Nội
                li (04) 6674 2332 - (04) 5785 2015
                li (04) 6674 2332 - Tinphamtp@gmail.com
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong CHUYỂN HÀNG
                li Mua sắm trực tuyến
                li Chính sách vận chuyển
                li Chính sách người dùng
                li Thông tin vận chuyển
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong HỖ TRỢ
                li Our story
                li Thanh toán an toàn
                li Thanh toán nhanh
                li Chính sách vận chuyển
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong THÔNG TIN
                li Về chúng tôi
                li Điều khoản & điều kiện
                li Điều khoản & yêu cầu
                li Đơn đặt hàng
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong MY ACCOUNT
                li
                  a.text-muted(href='./shoppingCart.html') Giỏ hàng
                li
                  a.text-muted(href='./account.html') My account
                li
                  a.text-muted(href='./resgister.html') Đăng ký tài khoản
                li
                  a.text-muted(href='./login.html') Đăng nhập
        hr
        .pay
          .container
            .row
              .col-sm-6
                p.para.para--pay CopyRight@ 2015 - 2019 | Danang Sun-asterisk
              .col-6.col-md-3.offset-md-2.offset-lg-3
                a(href='#')
                  img.shoppingCart--img(src='../../asset/images/pay.png')
    // Optional JavaScript
    script(src='../../asset/js/detail.bundle.js')
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
