<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog detail</title>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../asset/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light custom-nav">
      <div class="container"><a class="navbar-brand custom-nav--brand" href="./homev2.html"><img class="custom-nav--logo" src="../../asset/images/logo.png"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mx-auto mt-2 mt-lg-0 custom-nav--list">
            <li class="nav-item active"><a class="nav-link" href="./homev2.html">Trang chủ<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="./aboutUs.html">Giới thiệu</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
              <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="menu__item">
                  <div class="menu__item--detail mr-5">
                    <h6>DƯỠNG DA</h6>
                    <hr>
                    <ul class="list-unstyled text-muted text-lowercase font-weight-normal">
                      <li><a href="./gird.html">Áo khoác</a></li>
                      <li><a href="./gird.html">Bộ áo liền quần</a></li>
                      <li><a href="./gird.html">Trang sức</a></li>
                      <li><a href="./gird.html">Quần/ váy</a></li>
                      <li><a href="./gird.html">Quần short</a></li>
                      <li><a href="./gird.html">Quần jean</a></li>
                      <li><a href="./gird.html">Đồ đan</a></li>
                      <li><a href="./gird.html">Áo nỉ</a></li>
                    </ul>
                  </div>
                  <div class="menu__item--detail ml-5 mr-5">
                    <h6>DƯỠNG DA</h6>
                    <hr>
                    <ul class="list-unstyled text-muted text-lowercase font-weight-normal">
                      <li><a href="#">Áo cánh/ áo sơ mi</a></li>
                      <li><a href="#">Túi sách, balo</a></li>
                      <li><a href="#">Khăn choàng cổ</a></li>
                      <li><a href="#">Hats &amp; Gloves</a></li>
                      <li><a href="#">Vớ &amp; socks</a></li>
                      <li><a href="#">Jewerly</a></li>
                      <li><a href="#">Bị bảo vệ</a></li>
                      <li><a href="#">Giày thể thao</a></li>
                    </ul>
                  </div>
                  <div class="menu__item--detail ml-5">
                    <h6>DƯỠNG DA</h6>
                    <hr>
                    <ul class="list-unstyled text-muted text-lowercase font-weight-normal">
                      <li><a href="#">Áo khoác</a></li>
                      <li><a href="#">Bộ áo liền quần</a></li>
                      <li><a href="#">Dresses</a></li>
                      <li><a href="#">Quần/ váy</a></li>
                      <li><a href="#">Quần short</a></li>
                      <li><a href="#">Quần jean</a></li>
                      <li><a href="#">Đồ đan</a></li>
                      <li><a href="#">Áo nhập khẩu</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Tin tức<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="./page404.html">Bản đồ</a></li>
            <li class="nav-item"><a class="nav-link" href="./contactUs.html">Liên hệ</a></li>
          </ul>
          <li class="nav-item dropdown"><a class="nav-link" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-cart custom-nav--cart mr-5 ml-5 mb-4"></i></a>
            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="menu__item menu__item--shoppingcart">
                <div class="menu__item--detail mb-4"><img class="mr-3 float-left" src="../../asset/images/man-spc.png">
                  <p class="float-left mr-2 mb-1">Áo sơ mi nam</p><i class="fas fa-times"></i><img class="float-left" src="../../asset/images/navbar-120k.png">
                </div>
                <div class="menu__item--detail mb-4"><img class="mr-3 float-left" src="../../asset/images/man-spc.png">
                  <p class="float-left mr-2 mb-1">Áo sơ mi nam</p><i class="fas fa-times"></i><img class="float-left" src="../../asset/images/navbar-120k.png">
                </div>
                <hr>
                <p class="float-left mr-5">Tổng số</p>
                <figure><strong> 240.000 đ</strong></figure><a class="btn btn-dark custom-btn" name="" href="#" role="button">GIỎ HÀNG</a>
              </div>
            </div>
          </li>
          <form class="form-inline my-2 my-lg-0"><a class="deco-a" href="#"><i class="fas fa-search"></i></a></form>
        </div>
      </div>
    </nav>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb custom-breadcrumb">
        <div class="container">
          <div class="row pl-3">
            <li class="breadcrumb-item"><a href="./homev2.html">Home</a></li>
            <li class="breadcrumb-item"><a>Blog</a></li>
          </div>
          <hr>
        </div>
      </ol>
    </nav>
    <div class="blogDetail">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <h3>BLOG</h3>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3 d-none d-md-block">
            <div class="new-post">
              <p><strong> BÀI VIẾT MỚI NHẤT</strong></p>
              <hr>
              <div class="row mb-4">
                <div class="col-5"><a href="#"><img class="blogDetail__img" src="../../asset/images/subPhoto-blogDetail.png"></a></div>
                <div class="col-7">
                  <h6 class="mb-0">Sống khỏe</h6><small>Đăng bởi GiangLe</small>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-5"><a href="#"><img class="blogDetail__img" src="../../asset/images/subPhoto-blogDetail2.png"></a></div>
                <div class="col-7">
                  <h6 class="mb-0">Chơi khỏe</h6><small>Đăng bởi GiangLe</small>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-5"><a href="#"><img class="blogDetail__img" src="../../asset/images/subPhoto-blogDetail.png"></a></div>
                <div class="col-7">
                  <h6 class="mb-0">Ngủ khỏe</h6><small>Đăng bởi GiangLe</small>
                </div>
              </div>
            </div>
            <div class="tags-blog mb-5">
              <p><strong>BLOG TAGS</strong></p>
              <hr><a class="btn btn-light custom-btn mr-1" href="#" role="button">Đồng hồ</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Giày</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Sandal</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Áo sơ mi</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Dresses</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Du lịch</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Trẻ em</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Sport life</a>
              <div class="last-video"></div>
              <p><strong>LAST VIDEO</strong></p>
              <hr><a href="#"><img class="blogDetail__img" src="../../asset/images/lastVideo.png"></a>
            </div>
          </div>
          <div class="col-md-9 pl-sm-5">
            <div class="row">
              <div class="col-12"><img class="blogDetail__img mb-5" src="../../asset/images/mainPhoto-blogDetail.png">
                <h3>NÀNG BÉO KHÔNG NGẠI DIỆN VÁY ÁO NỔI BẬT</h3>
                <p>
                  Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog
                  này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải
                  nhiệt.Trong tiết xuân hè, nàng ngoại cỡ thắp sáng phong cách bằng quần họa tiết nhiệt
                  đới đi kèm áo sơ mi nhã nhặn.Trang phục họa tiết điện tử được nàng phối cùng chân váy kẻ
                  caro, làm nên style vừa hiện đại, vừa phảng phất nét cổ điển.Lối diện đồ hàng ngày đơn
                  giản, khỏe khoắn của cô khi kết hợp chất liệu jean.Nữ blogger rực rỡ khi hòa trộn các
                  gam đỏ, hồng, tím... một cách vui tươi, kèm theo các phụ kiện điệu đà.
                </p>
                <p class="text-muted mb-0">Bởi Nam Trần</p>
                <p class="text-muted">Ngày đăng: 27/12/2019</p>
                <div class="row">
                  <div class="col-6 mr-auto"><a class="text-muted" href="#">Đọc thêm</a></div>
                  <p class="text-muted">124 Bình luận</p>
                </div>
                <p class="text-muted">Tag:</p><a class="text-muted" href="#">Men</a>
              </div>
            </div>
            <hr>
            <div class="container">
              <div class="row">
                <p><strong>ĐÓNG GÓP Ý KIẾN</strong></p>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Tên*</td>
                      <td>
                        <div class="form-group">
                          <input class="form-control custom-input--detail" type="text">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Email*</td>
                      <td>
                        <div class="form-group">
                          <input class="form-control custom-input--detail" type="text">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Ý kiến</td>
                      <td>
                        <textarea class="blogDetail__img mb-4" cols="50" rows="5"></textarea><a class="btn btn-dark custom-btn" href="#" role="button">GỬI Ý KIẾN</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="text list-unstyled text-muted">
              <li><strong>LIÊN HỆ VỚI CHÚNG TÔI</strong></li>
              <li>tầng 4, tòa nhà Hanoi Group Số 442 Hàng Giấy, Quận Hoàn Kiếm, Thành phố Hà Nội</li>
              <li>(04) 6674 2332 - (04) 5785 2015</li>
              <li>(04) 6674 2332 - Tinphamtp@gmail.com</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>CHUYỂN HÀNG</strong></li>
              <li>Mua sắm trực tuyến</li>
              <li>Chính sách vận chuyển</li>
              <li>Chính sách người dùng</li>
              <li>Thông tin vận chuyển</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>HỖ TRỢ</strong></li>
              <li>Our story</li>
              <li>Thanh toán an toàn</li>
              <li>Thanh toán nhanh</li>
              <li>Chính sách vận chuyển</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>THÔNG TIN</strong></li>
              <li>Về chúng tôi</li>
              <li>Điều khoản &amp; điều kiện</li>
              <li>Điều khoản &amp; yêu cầu</li>
              <li>Đơn đặt hàng</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>MY ACCOUNT</strong></li>
              <li><a class="text-muted" href="./shoppingCart.html">Giỏ hàng</a></li>
              <li><a class="text-muted" href="./account.html">My account</a></li>
              <li><a class="text-muted" href="./resgister.html">Đăng ký tài khoản</a></li>
              <li><a class="text-muted" href="./login.html">Đăng nhập</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="pay">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p class="para para--pay">CopyRight@ 2015 - 2019 | Danang Sun-asterisk</p>
            </div>
            <div class="col-6 col-md-3 offset-md-2 offset-lg-3"><a href="#"><img class="shoppingCart--img" src="../../asset/images/pay.png"></a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>