<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detail</title>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../asset/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="detail">
      <nav class="navbar navbar-expand-md navbar-light bg-light custom-nav">
        <div class="container"><a class="navbar-brand custom-nav--brand" href="./pug/home.html"><img class="custom-nav--logo" src="../../asset/images/logo.png"></a>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mx-auto mt-2 mt-lg-0 custom-nav--list">
              <li class="nav-item active"><a class="nav-link" href="#">Trang chủ<span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Giới thiệu</a></li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="dropdownId" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId"><a class="dropdown-item" href="#">
                    Action
                    1</a><a class="dropdown-item" href="#">Action 2</a></div>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Tin tức<span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Bản đồ</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
            </ul><i class="fas fa-shopping-cart custom-nav--cart mr-5 ml-5"></i>
            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit"></button>
            </form>
          </div>
        </div>
      </nav>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom-breadcrumb">
          <div class="container">
            <div class="row">
              <li class="breadcrumb-item"><a href="../../pug/home.html">Home</a></li>
              <li class="breadcrumb-item">Sản phẩm</li>
              <li class="breadcrumb-item">Trang sức</li>
              <li class="breadcrumb-item">Lắc tay</li>
            </div>
            <hr>
          </div>
        </ol>
      </nav>
      <div class="detail">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-4 col-md-1"><a href="#"><img class="ml-2" src="../../asset/images/up-arrow.png"></a><img src="../../asset/images/detail1.png"><img src="../../asset/images/detail2.png"><img src="../../asset/images/detail3.png"><img src="../../asset/images/detail4.png"><a href="#"><img class="ml-2" src="../../asset/images/down-arrow.png"></a></div>
            <div class="col-8 col-md-6"><img class="detail__img" src="../../asset/images/detail.png"></div>
            <div class="col-md-5">
              <h5 class="mb-0">LẮC TAY TIFFANY XU HƯỚNG MỚI NHẤT</h5><small class="text-muted">TIFFANY MS 8050</small><br><img class="mt-3 mb-4" src="../../asset/images/955k.png">
              <p class="para para--detail">
                Không thể phủ nhận, thời trang và phong cách chính là “tuyên
                ngôn”
                không lời
                mạnh mẽ nhất của mỗi người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và
                có
                khi là nguồn cảm hứng vô tận để phái đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại
                của
                thế giới. Để F5 tủ đồ của mình trước những xu hướng ngày một đa dạng hơn trong thế giới
                thời
                trang, nhiều chị em không ngần ngại chi tiêu “mạnh tay” để sở hữu những
                món đồ yêu thích.
              </p>
              <div class="form-group">
                <label for=""><strong> MÀU SẮC</strong></label>
                <input class="form-control custom-input--detail" type="text" name="" id="" aria-describedby="helpId" placeholder="Màu bạc"><br>
                <label for=""><strong> SIZE</strong></label>
                <input class="form-control custom-input--detail" type="text" name="" id="" aria-describedby="helpId" placeholder="12">
              </div><b>
                <p>SỐ LƯỢNG</p></b><a class="btn btn-light custom-btn custom-btn--detail" name="" id="" href="#" role="button">
                Mua
                hàng</a><img class="ml-1" src="../../asset/images/green-heart.png"><br><small>Shipping &<a href="#">return</a></small><img class="detail__img" src="../../asset/images/links.png">
            </div>
          </div>
        </div>
      </div><br>
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-9"><a class="mr-4 detail__deco-a" href="#"><strong> ĐẶC ĐIỂM NỔI BẬT</strong></a><a class="mr-4 detail__deco-a" href="#"><strong>THÔNG TIN SẢN PHẨM</strong></a><a class="detail__deco-a" href="#"><strong>ĐÁNH GIÁ</strong></a>
              <hr>
            </div>
            <div class="col-md-3 d-none d-lg-block"><a class="detail__deco-a" href="#"><strong>SẢN PHẨM BÁN CHẠY</strong></a>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9">
              <div class="row align-items-center">
                <div class="col-10 col-md-8 order-2 order-md-1"><a class="mb-3 border-bottom detail__deco-a" href="#">THE MARK OF THE LEGEND</a>
                  <p class="para para--detail">
                    Tự hào được ghi là năm mà Tiffany & Co là
                    thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    đường cong và đường nét mượt mà.
                  </p>
                </div>
                <div class="col-md-4 mb-3 mb-md-3 order-1 order-md-2"><img class="detail__img" src="../../asset/images/sp-detail1.png"></div>
              </div>
              <div class="row align-items-center ml-auto">
                <div class="col-10 offset-2 offset-sm-0 col-md-8 order-2 mb-5 text-right text-sm-left"><a class="mb-3 border-bottom detail__deco-a" href="#">THE MARK OF THE LEGEND</a>
                  <p class="para para--detail">
                    Tự hào được ghi là năm mà Tiffany & Co là
                    thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    đường cong và đường nét mượt mà.
                  </p>
                </div>
                <div class="col-10 offset-2 offset-sm-0 col-md-4 mb-3 mb-md-3 order-1 order-md-1"><img class="detail__img" src="../../asset/images/sp-detail2.png"></div>
              </div>
              <div class="row align-items-center">
                <div class="col-10 col-md-8 order-2 order-md-1"><a class="mb-3 border-bottom detail__deco-a" href="#">THE MARK OF THE LEGEND</a>
                  <p class="para para--detail">
                    Tự hào được ghi là năm mà Tiffany & Co là
                    thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    đường cong và đường nét mượt mà.
                  </p>
                </div>
                <div class="col-md-4 mb-4 mb-md-3 order-1 order-md-2"><img class="detail__img" src="../../asset/images/sp-detail3.png"></div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-8 order-2 text-right text-sm-left"><a class="mb-3 border-bottom detail__deco-a" href="#">THE MARK OF THE LEGEND</a>
                  <p class="para para--detail">
                    Tự hào được ghi là năm mà Tiffany & Co là
                    thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    đường cong và đường nét mượt mà.
                  </p>
                </div>
                <div class="col-10 offset-2 offset-sm-0 col-md-4 order-1 mb-2 mb-md-3"><img class="detail__img" src="../../asset/images/sp-detail4.png"></div>
              </div>
            </div>
            <div class="col-md-3 d-none d-lg-block">
              <div class="row mb-4">
                <div class="col-6"><img class="detail__img" src="../../asset/images/aside-img.png"></div>
                <div class="pl-0 pr-0 col-6"><a class="detail__deco-a" href="#"><strong> Mỹ phẩm Châu Âu</strong></a><img class="detail__img" src="../../asset/images/4heart.png"><img src="../../asset/images/aside-price.png"></div>
              </div>
              <hr>
              <div class="row mb-4">
                <div class="col-6"><img class="detail__img" src="../../asset/images/aside-img.png"></div>
                <div class="pl-0 pr-0 col-6"><a class="detail__deco-a" href="#"><strong> Mỹ phẩm Châu Âu</strong></a><img class="detail__img" src="../../asset/images/4heart.png"><img src="../../asset/images/aside-price.png"></div>
              </div>
              <hr>
              <div class="row mb-4">
                <div class="col-6"><img class="detail__img" src="../../asset/images/aside-img.png"></div>
                <div class="pl-0 pr-0 col-6"><a class="detail__deco-a" href="#"><strong> Mỹ phẩm Châu Âu</strong></a><img class="detail__img" src="../../asset/images/4heart.png"><img src="../../asset/images/aside-price.png"></div>
              </div><br>
              <div class="row">
                <div class="col-12 d-none d-lg-block"><a class="detail__deco-a" href="#"><strong>SẢN PHẨM BÁN CHẠY</strong></a><br></div>
              </div>
              <hr>
              <div class="row mb-4">
                <div class="col-6"><img class="detail__img" src="../../asset/images/aside-img.png"></div>
                <div class="pl-0 pr-0 col-6"><a class="detail__deco-a" href="#"><strong> Mỹ phẩm Châu Âu</strong></a><img class="detail__img" src="../../asset/images/4heart.png"><img src="../../asset/images/aside-price.png"></div>
              </div>
              <hr>
              <div class="row mb-4">
                <div class="col-6"><img class="detail__img" src="../../asset/images/aside-img.png"></div>
                <div class="pl-0 pr-0 col-6"><a class="detail__deco-a" href="#"><strong> Mỹ phẩm Châu Âu</strong></a><img class="detail__img" src="../../asset/images/4heart.png"><img src="../../asset/images/aside-price.png"></div>
              </div>
              <hr>
              <div class="row mb-4">
                <div class="col-6"><img class="detail__img" src="../../asset/images/aside-img.png"></div>
                <div class="pl-0 pr-0 col-6"><a class="detail__deco-a" href="#"><strong> Mỹ phẩm Châu Âu</strong></a><img class="detail__img" src="../../asset/images/4heart.png"><img src="../../asset/images/aside-price.png"></div>
              </div>
              <hr>
              <div class="row mb-4">
                <div class="col-6"><img class="detail__img" src="../../asset/images/aside-img.png"></div>
                <div class="pl-0 pr-0 col-6"><a class="detail__deco-a" href="#"><strong> Mỹ phẩm Châu Âu</strong></a><img class="detail__img" src="../../asset/images/4heart.png"><img src="../../asset/images/aside-price.png"></div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <ul class="text list-unstyled text-muted">
                <li><strong>LIÊN HỆ VỚI CHÚNG TÔI</strong></li>
                <li>tầng 4, tòa nhà Hanoi Group Số 442 Hàng Giấy, Quận Hoàn Kiếm, Thành phố Hà Nội</li>
                <li>(04) 6674 2332 - (04) 5785 2015</li>
                <li>(04) 6674 2332 - Tinphamtp@gmail.com</li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="text list-unstyled text-muted">
                <li><strong>CHUYỂN HÀNG</strong></li>
                <li>Mua sắm trực tuyến</li>
                <li>Chính sách vận chuyển</li>
                <li>Chính sách người dùng</li>
                <li>Thông tin vận chuyển</li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="text list-unstyled text-muted">
                <li><strong>HỖ TRỢ</strong></li>
                <li>Our story</li>
                <li>Thanh toán an toàn</li>
                <li>Thanh toán nhanh</li>
                <li>Chính sách vận chuyển</li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="text list-unstyled text-muted">
                <li><strong>THÔNG TIN</strong></li>
                <li>Về chúng tôi</li>
                <li>Điều khoản &amp; điều kiện</li>
                <li>Điều khoản &amp; yêu cầu</li>
                <li>Đơn đặt hàng</li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="text list-unstyled text-muted">
                <li><strong>MY ACCOUNT</strong></li>
                <li>Giỏ hàng</li>
                <li>Sản phẩm yêu thích</li>
                <li>Sản phẩm thường xem</li>
                <li>Kiểm tra</li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="pay">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="para para--pay">CopyRight@ 2015 - 2019 | Danang Sun-asterisk</p>
              </div>
              <div class="col-6 col-md-3 offset-md-3"><a href="#"><img class="detail--img" src="../../asset/images/pay.png"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>