<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HOME</title>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../asset/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light custom-nav">
        <div class="container"><a class="navbar-brand custom-nav--brand" href="#"><img class="custom-nav--logo" src="../../asset/images/logo.png"></a>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mx-auto mt-2 mt-lg-0 custom-nav--list">
              <li class="nav-item active"><a class="nav-link" href="#">Trang chủ<span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Giới thiệu</a></li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sản
                  phẩm</a>
                <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarDropdown">
                  <div class="menu__item">
                    <div class="menu__item--detail mr-5">
                      <h6>DƯỠNG DA</h6>
                      <hr>
                      <ul class="list-unstyled text-muted text-lowercase font-weight-normal">
                        <li><a href="#">Áo cánh/ áo sơ mi</a></li>
                        <li><a href="#">Túi sách, balo</a></li>
                        <li><a href="#">Khăn choàng cổ</a></li>
                        <li><a href="#">Hats &amp; Gloves</a></li>
                        <li><a href="#">Vớ &amp; socks</a></li>
                        <li><a href="#">Jewerly</a></li>
                        <li><a href="#">Bị bảo vệ</a></li>
                        <li><a href="#">Giày thể thao</a></li>
                      </ul>
                    </div>
                    <div class="menu__item--detail ml-5 mr-5">
                      <h6>DƯỠNG TÓC</h6>
                      <hr>
                      <ul class="list-unstyled text-muted text-lowercase font-weight-normal">
                        <li><a href="#">Áo cánh/ áo sơ mi</a></li>
                        <li><a href="#">Túi sách, balo</a></li>
                        <li><a href="#">Khăn choàng cổ</a></li>
                        <li><a href="#">Hats &amp; Gloves</a></li>
                        <li><a href="#">Vớ &amp; socks</a></li>
                        <li><a href="#">Jewerly</a></li>
                        <li><a href="#">Bị bảo vệ</a></li>
                        <li><a href="#">Giày thể thao</a></li>
                      </ul>
                    </div>
                    <div class="menu__item--detail ml-5">
                      <h6>DƯỠNG DA</h6>
                      <hr>
                      <ul class="list-unstyled text-muted text-lowercase font-weight-normal">
                        <li><a href="#">Áo khoác</a></li>
                        <li><a href="#">Bộ áo liền quần</a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Quần/ váy</a></li>
                        <li><a href="#">Quần short</a></li>
                        <li><a href="#">Quần jean</a></li>
                        <li><a href="#">Đồ đan</a></li>
                        <li><a href="#">Áo nhập khẩu</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Tin tức<span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Bản đồ</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
            </ul>
            <li class="nav-item dropdown"><a class="nav-link" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-cart custom-nav--cart mr-5 ml-5 mb-4"></i></a>
              <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="menu__item menu__item--shoppingcart">
                  <div class="menu__item--detail mb-4"><img class="mr-3 float-left" src="../../asset/images/man-spc.png">
                    <p class="float-left mr-2 mb-1">Áo sơ mi nam</p><i class="fas fa-times"></i><img class="float-left" src="../../asset/images/navbar-120k.png">
                  </div>
                  <div class="menu__item--detail mb-4"><img class="mr-3 float-left" src="../../asset/images/man-spc.png">
                    <p class="float-left mr-2 mb-1">Áo sơ mi nam</p><i class="fas fa-times"></i><img class="float-left" src="../../asset/images/navbar-120k.png">
                  </div>
                  <hr>
                  <p class="float-left mr-5">Tổng số</p>
                  <figure><strong> 240.000 đ</strong></figure><a class="btn btn-dark custom-btn" name="" href="#" role="button">GIỎ HÀNG</a>
                </div>
              </div>
            </li>
            <form class="form-inline my-2 my-lg-0"><i class="fas fa-search"></i></form>
          </div>
        </div>
      </nav>
      <div class="jumbotron custom-jumbotron">
        <div class="container">
          <div class="row mt-5 mt-sm-0 mt-md-3">
            <div class="col-6 col-md-6">
              <div class="row pt-5 pt-md-3 pt-lg-0">
                <div class="col-12 col-sm-6 offset-sm-3 offset-lg-3"><img class="custom-jumbotron--win-banner" src="../../asset/images/win-banner.png"></div>
              </div>
              <div class="content-banner">
                <div class="row">
                  <div class="col-12 col-sm-12 text-center"><img class="content-banner--green-vera" src="../../asset/images/green-vera.png">
                    <p class="content-banner--des mb-0">
                      Sản phẩm tinh dầu dưỡng da mới nhất của
                      Madala
                    </p>
                    <p class="content-banner--price">GIÁ CHỈ 750.000đ</p><a class="content-banner--buy" href="#">MUA HÀNG</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6"><img class="custom-jumbotron--woman" src="../../asset/images/woman.png"></div>
          </div>
        </div>
      </div>
    </header><br>
    <main>
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-4 pt-1 pb-2 pb-md-5 pb-lg-0">
            <div class="row">
              <div class="col-2 offset-1 offset-sm-0 col-sm-12"><img src="../../asset/images/plane-icon.png" alt=""></div>
              <div class="col-7 col-sm-12">
                <p>Miễn phí vận chuyển</p>
              </div>
            </div>
            <hr>
          </div>
          <div class="col-sm-4 pt-1 pb-2 pb-md-5 pb-lg-0">
            <div class="row">
              <div class="col-2 offset-1 offset-sm-0 col-sm-12"><img src="../../asset/images/plane-icon.png" alt=""></div>
              <div class="col-7 col-sm-12">
                <p>Nhận ngay quà tặng trị giá 350.000đ</p>
              </div>
            </div>
            <hr>
          </div>
          <div class="col-sm-4 pt-1 pb-2 pb-md-5 pb-lg-0">
            <div class="row">
              <div class="col-2 offset-1 offset-sm-0 col-sm-12"><img src="../../asset/images/plane-icon.png" alt=""></div>
              <div class="col-7 col-sm-12">
                <p>Giảm 20% cho đơn hàng trên 5.000.000đ</p>
              </div>
            </div>
            <hr>
          </div>
          <!--
          <div class="col-sm-4 pt-1 pb-2 pb-md-5 text-center">
          <img src="../../asset/images/plane-icon.png" alt="">
          <p>Nhận ngay quà tặng trị giá 350.000đ</p>
          </div>
          <div class="col-sm-4 pt-1 pb-2 pb-md-5 text-center">
          <img src="../../asset/images/plane-icon.png" alt="">
          <p>Giảm 20% cho đơn hàng trên 5.000.000đ</p>
          </div>
          -->
        </div>
      </div>
      <div class="block-product">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="block4">
                <div class="row pb-2">
                  <div class="col-6 px-sm-0"><img id="block1" src="../../asset/images/square-1.png"></div>
                  <div class="col-6 px-0"><img class="ml-n4 ml-sm-n1 ml-md-n2 ml-lg-n3" id="block2" src="../../asset/images/square-2.png"></div>
                </div>
                <div class="row pb-3 pb-sm-2">
                  <div class="col-6 px-sm-0"><img class="block4--square-up" id="block3" src="../../asset/images/square-3.png"></div>
                  <div class="col-6 px-sm-0"><img class="block-product__img ml-n4 ml-sm-2" id="block4" src="../../asset/images/square-4.png"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pb-3 pb-sm-2"><img id="block5" src="../../asset/images/square-5.png"></div>
          </div>
        </div>
        <div class="container">
          <div class="row mb-3">
            <div class="col-sm-6 pl-3 pl-sm-0 pb-3"><img class="block-product__big ml-1 ml-sm-0" id="block6" src="../../asset/images/square-6.png"></div>
            <div class="col-sm-6">
              <div class="block4">
                <div class="row pb-2">
                  <div class="col-6 px-sm-0"><img class="ml-0 ml-sm-3" id="block7" src="../../asset/images/square-7.png"></div>
                  <div class="col-6 px-sm-0"><img class="block4--square-down ml-n4 ml-sm-4" id="block8" src="../../asset/images/square-8.png"></div>
                </div>
                <div class="row">
                  <div class="col-6 px-sm-0"><img class="ml-sm-3" id="block9" src="../../asset/images/square-9.png"></div>
                  <div class="col-6 px-sm-0"><img class="ml-n5 ml-sm-2 ml-md-1" id="block10" src="../../asset/images/square-10.png"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="review">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <div class="content">
                <div class="carousel slide" id="carouselId" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li class="active" data-target="#carouselId" data-slide-to="0"></li>
                    <li data-target="#carouselId" data-slide-to="1"></li>
                    <li data-target="#carouselId" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <div class="row">
                        <div class="col-sm-2"><img class="review__image" src="../../asset/images/client-photo.png" alt="First slide"></div>
                        <div class="col-sm-10">
                          <div class="carousel-caption text-left ml-5 custom-caption">
                            <p class="para">
                              “ Vẫn là vẻ bề ngoài vô cùng đơn giản với các
                              tông màu
                              trắng nhưng lại tạo ra sức hấp dẫn mạnh mẽ, với những công nghệ
                              được cải
                              tiến nhất. "<br><strong>- Bill Gate -</strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-2"><img class="review__image" src="../../asset/images/client-photo.png" alt="First slide"></div>
                          <div class="col-sm-10">
                            <div class="carousel-caption text-left ml-5 custom-caption">
                              <p class="para">
                                “ Vẫn là vẻ bề ngoài vô cùng đơn giản với các
                                tông màu
                                trắng nhưng lại tạo ra sức hấp dẫn mạnh mẽ, với những công
                                nghệ
                                được cải
                                tiến nhất. "<br><strong>- Bill Gate -</strong>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carouselId" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spbc">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-4 offset-sm-2 offset-md-4 text-center"><img class="block-product__img" src="../../asset/images/text-spbc.png"></div>
          </div>
          <div class="row mt-5 mb-5 pl-5 pl-sm-0">
            <div class="col-6 col-sm-2"><a href="">Mỹ phẩm</a></div>
            <div class="col-6 col-sm-2"><a href="">Quần áo</a></div>
            <div class="col-6 col-sm-2"><a href="">Giày Sport</a></div>
            <div class="col-6 col-sm-2"><a href="">Trang sức</a></div>
            <div class="col-6 col-sm-2"><a href="">Nhẫn</a></div>
            <div class="col-6 col-sm-2"><a href="">Heathy</a></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card-deck text-center">
                <div class="card custom-card mr-5"><img class="card-img-top mx-auto" style="width:60%" src="../../asset/images/spbc-3.png">
                  <div class="card-body">
                    <p class="card-title custom-card--title"><strong>Mỹ phẩm châu Âu</strong></p>
                    <p class="card-text custom-card--text">355.000đ</p>
                  </div>
                </div>
                <div class="card custom-card mr-5"><img class="card-img-top mx-auto" style="width:60%" src="../../asset/images/spbc-4.png">
                  <div class="card-body">
                    <p class="card-title custom-card--title"><strong>Mỹ phẩm châu Âu</strong></p>
                    <p class="card-text custom-card--text">355.000đ</p>
                  </div>
                </div>
                <div class="card custom-card mr-5 d-none d-md-block"><img class="card-img-top mx-auto" style="width:60%" src="../../asset/images/spbc-1.png">
                  <div class="card-body">
                    <p class="card-title custom-card--title"><strong>Mỹ phẩm châu Âu</strong></p>
                    <p class="card-text custom-card--text">355.000đ</p>
                  </div>
                </div>
                <div class="card custom-card mr-5 d-none d-md-block"><img class="card-img-top mx-auto" style="width:60%" src="../../asset/images/spbc-2.png">
                  <div class="card-body">
                    <p class="card-title custom-card--title"><strong>Mỹ phẩm châu Âu</strong></p>
                    <p class="card-text custom-card--text">355.000đ</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="channel">
        <div class="container">
          <div class="row mt-4 mb-5 offset-md-2">
            <div class="col-4 col-sm-1 mr-5"><a href="#"><img src="../../asset/images/channel-fb.png"></a></div>
            <div class="col-4 col-sm-1 mr-5"><a href="#"><img src="../../asset/images/channel-ig.png"></a></div>
            <div class="col-sm-1 mr-5"><a href="#"><img class="d-none d-sm-block" src="../../asset/images/channel-pin.png"></a></div>
            <div class="col-sm-1 mr-5"><a href="#"><img class="d-none d-sm-block" src="../../asset/images/channel-in.png"></a></div>
            <div class="col-sm-1 mr-5"><a href="#"><img class="d-none d-sm-block" src="../../asset/images/channel-gg.png"></a></div>
            <div class="col-sm-1 mr-5"><a href="#"><img class="d-none d-sm-block" src="../../asset/images/channel-tw.png"></a></div>
          </div>
        </div>
      </div>
      <div class="information">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4 text-center">
              <h5 class="infomation--header">VỀ CHÚNG TÔI</h5><img class="mb-2 information--image" src="../../asset/images/element-info-header.png"><img class="m-4" src="../../asset/images/logo.png" alt="">
              <p class="text-left"><strong>Giới thiệu chung về Mandala</strong></p>
              <p class="information--p">
                Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay
                lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm
                Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại
                hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free
                để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào
                một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
              </p><a class="information--a" href="#">Xem thêm</a>
            </div>
            <div class="col-sm-6 col-md-4 text-center">
              <h5 class="infomation--header">BLOG</h5><img class="mb-4 information--image" src="../../asset/images/element-info-header.png"><img class="information--image--blog" src="../../asset/images/BLOG-IMAGE.png" alt="">
              <p class="text-left"><strong>Giới thiệu chung về Mandala</strong></p>
              <p class="information--p">
                Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay
                lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm
                Free để giải nhiệt.
              </p><a class="information--a" href="#">Xem thêm</a>
            </div>
            <div class="col-sm-6 col-md-4 text-center">
              <div class="row mt-5 mt-sm-0">
                <div class="col-sm-12 col-md-12 text-center">
                  <h5 class="infomation--header">GỬI EMAIL CHO CHÚNG TÔI</h5><img class="mb-4 information--image" src="../../asset/images/element-info-header.png">
                  <input class="custom-input" type="text">
                  <p class="mt-3 mt-sm-0">Gửi email để nhận ưu đãi mới nhất</p><a class="btn btn-dark custom-btn pr-5 mb-4 pl-5" name="" id="" href="#" role="button">GỬI</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                  <h5 class="infomation--header">TAG SẢN PHẨM</h5><img class="mb-4 information--image" src="../../asset/images/element-info-header.png"><a class="btn btn-light custom-btn mr-1" href="#" role="button">Đồng hồ</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Túi</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Phụ kiện</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Sơ mi</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Nước hoa</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Trẻ em</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Váy nữ</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Sandal</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Thể thao</a><a class="btn btn-light custom-btn mr-1" href="#" role="button">Trang phụ biển</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="text list-unstyled text-muted">
              <li><strong>LIÊN HỆ VỚI CHÚNG TÔI</strong></li>
              <li>tầng 4, tòa nhà Hanoi Group Số 442 Hàng Giấy, Quận Hoàn Kiếm, Thành phố Hà Nội</li>
              <li>(04) 6674 2332 - (04) 5785 2015</li>
              <li>(04) 6674 2332 - Tinphamtp@gmail.com</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>CHUYỂN HÀNG</strong></li>
              <li>Mua sắm trực tuyến</li>
              <li>Chính sách vận chuyển</li>
              <li>Chính sách người dùng</li>
              <li>Thông tin vận chuyển</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>HỖ TRỢ</strong></li>
              <li>Our story</li>
              <li>Thanh toán an toàn</li>
              <li>Thanh toán nhanh</li>
              <li>Chính sách vận chuyển</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>THÔNG TIN</strong></li>
              <li>Về chúng tôi</li>
              <li>Điều khoản &amp; điều kiện</li>
              <li>Điều khoản &amp; yêu cầu</li>
              <li>Đơn đặt hàng</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>MY ACCOUNT</strong></li>
              <li>Giỏ hàng</li>
              <li>Sản phẩm yêu thích</li>
              <li>Sản phẩm thường xem</li>
              <li>Kiểm tra</li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="pay">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p class="para para--pay">CopyRight@ 2015 - 2019 | Danang Sun-asterisk</p>
            </div>
            <div class="col-6 col-md-3 offset-md-3"><a href="#"><img class="shoppingCart--img" src="../../asset/images/pay.png"></a></div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>