<!DOCTYPE html>
<html lang="en">
  <head>
    <title>List</title>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../asset/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light custom-nav">
      <div class="container"><a class="navbar-brand custom-nav--brand" href="./pug/home.html"><img class="custom-nav--logo" src="../../asset/images/logo.png"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mx-auto mt-2 mt-lg-0 custom-nav--list">
            <li class="nav-item active"><a class="nav-link" href="#">Trang chủ<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#">Giới thiệu</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="dropdownId" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId"><a class="dropdown-item" href="#">
                  Action
                  1</a><a class="dropdown-item" href="#">Action 2</a></div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Tin tức<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#">Bản đồ</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
          </ul><i class="fas fa-shopping-cart custom-nav--cart mr-5 ml-5"></i>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit"></button>
          </form>
        </div>
      </div>
    </nav>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb pb-0 custom-breadcrumb">
        <div class="container">
          <div class="row">
            <li class="breadcrumb-item"><a href="./home.html">Home</a></li>
            <li class="breadcrumb-item">Trang sức</li>
          </div>
        </div>
      </ol>
    </nav>
    <div class="gird">
      <div class="container-fluid d-none d-sm-block">
        <div class="row">
          <div class="col-md-12 pl-0 pr-0 mb-5"><a href="#"><img class="gird__img" src="../../asset/images/off50.png"></a></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="left">
              <h6><i class="fas fa-bars mr-2"></i>DANH MỤC SẢN PHẨM</h6>
              <hr>
              <div class="row">
                <div class="col-md-10"><a class="gird__deco-a mr-auto" href="#"><strong>MỸ PHẨM</strong></a></div><i class="fas fa-caret-right"></i>
              </div>
              <div class="row">
                <div class="col-md-10"><a class="gird__deco-a mr-auto" href="#"><strong>TRANG SỨC</strong></a></div><i class="fas fa-caret-down"></i>
                <ul class="ml-5">
                  <li>Vòng tay</li>
                  <li>Nhẫn</li>
                  <li>Lắc chân</li>
                  <li>Phụ kiện khác</li>
                  <li>Giày thể thao</li>
                </ul>
              </div>
              <div class="row">
                <div class="col-md-10"><a class="gird__deco-a mr-auto" href="#"><strong>PHỤ KIỆN</strong></a></div><i class="fas fa-caret-right"></i>
              </div>
              <div class="row">
                <div class="col-md-10"><a class="gird__deco-a mr-auto" href="#"><strong>NƯỚC HOA</strong></a></div><i class="fas fa-caret-right"></i>
              </div><br>
              <div class="compare">
                <div class="row">
                  <div class="col-md-12">
                    <h6>SO SÁNH SẢN PHẨM</h6><small>Bạn chưa có sản phẩm nào để so sánh</small>
                    <hr>
                  </div>
                </div>
              </div>
              <div class="tag-sp">
                <div class="row">
                  <div class="col-md-10">
                    <h6>TAG SẢN PHẨM</h6>
                    <hr>
                  </div><br>
                </div>
                <div class="row">
                  <div class="col-md-12"><a class="btn btn-light mr-1 custom-btn" href="#">Hoa tai</a><a class="btn btn-light mr-1 custom-btn" href="#">Giày</a><a class="btn btn-light mr-1 custom-btn" href="#">Nước hoa</a><a class="btn btn-light mr-1 custom-btn" href="#">Áo sơ mi</a><a class="btn btn-light mr-1 custom-btn" href="#">Trẻ em</a><a class="btn btn-light mr-1 custom-btn" href="#">Nhẫn</a><a class="btn btn-light mr-1 custom-btn" href="#">Áo dự tiệc</a>
                  </div>
                </div>
                <div class="advertisement mt-5 d-none d-lg-block">
                  <div class="row">
                    <div class="col-md-10"><img class="gird__img" src="../../asset/images/gird-ad.png"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="right">
              <div class="row">
                <div class="col-3 mr-auto"><a href="#"><img src="../../asset/images/grid1.png" alt=""></a><a href="#"><img src="../../asset/images/grid2.png" alt=""></a></div>
                <div class="col-3 col-md-2"><a href="#"> 1</a><a href="#"> 2</a><a href="#"> 3</a></div>
              </div>
              <hr>
              <div class="row mt-5">
                <div class="col-5 offset-3 offset-sm-0 col-sm-3"><img class="gird__img" src="../../asset/images/spbc-4.png"></div>
                <div class="col-sm-9">
                  <h5>Mỹ phẩm Châu Âu thương hiệu hàng đầu thế giới</h5><img src="../../asset/images/4heart.png" alt="">
                  <p class="para para--detail mt-3">
                    Tự hào được ghi là năm mà Tiffany & Co là
                    thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    đường cong và đường nét mượt mà.
                  </p><img src="../../asset/images/navbar-120k.png" alt=""><br><a class="btn btn-light custom-btn custom-btn--radius mt-3 mr-1" href="#">MUA HÀNG</a><img class="mt-2" src="../../asset/images/green-heart.png">
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-5 offset-3 offset-sm-0 col-sm-3"><img class="gird__img" src="../../asset/images/spbc-1.png"></div>
                <div class="col-sm-9">
                  <h5>Mỹ phẩm Châu Âu thương hiệu hàng đầu thế giới</h5><img src="../../asset/images/4heart.png" alt="">
                  <p class="para para--detail mt-3">
                    Tự hào được ghi là năm mà Tiffany & Co là
                    thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    đường cong và đường nét mượt mà.
                  </p><img src="../../asset/images/navbar-120k.png" alt=""><br><a class="btn btn-light custom-btn custom-btn--radius mt-3 mr-1" href="#">MUA HÀNG</a><img class="mt-2" src="../../asset/images/green-heart.png">
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-5 offset-3 offset-sm-0 col-sm-3"><img class="gird__img" src="../../asset/images/spbc-3.png"></div>
                <div class="col-sm-9">
                  <h5>Mỹ phẩm Châu Âu thương hiệu hàng đầu thế giới</h5><img src="../../asset/images/4heart.png" alt="">
                  <p class="para para--detail mt-3">
                    Tự hào được ghi là năm mà Tiffany & Co là
                    thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    đường cong và đường nét mượt mà.
                  </p><img src="../../asset/images/navbar-120k.png" alt=""><br><a class="btn btn-light custom-btn custom-btn--radius mt-3 mr-1" href="#">MUA HÀNG</a><img class="mt-2" src="../../asset/images/green-heart.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <ul class="text list-unstyled text-muted">
                <li><strong>LIÊN HỆ VỚI CHÚNG TÔI</strong></li>
                <li>tầng 4, tòa nhà Hanoi Group Số 442 Hàng Giấy, Quận Hoàn Kiếm, Thành phố Hà Nội</li>
                <li>(04) 6674 2332 - (04) 5785 2015</li>
                <li>(04) 6674 2332 - Tinphamtp@gmail.com</li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="text list-unstyled text-muted">
                <li><strong>CHUYỂN HÀNG</strong></li>
                <li>Mua sắm trực tuyến</li>
                <li>Chính sách vận chuyển</li>
                <li>Chính sách người dùng</li>
                <li>Thông tin vận chuyển</li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="text list-unstyled text-muted">
                <li><strong>HỖ TRỢ</strong></li>
                <li>Our story</li>
                <li>Thanh toán an toàn</li>
                <li>Thanh toán nhanh</li>
                <li>Chính sách vận chuyển</li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="text list-unstyled text-muted">
                <li><strong>THÔNG TIN</strong></li>
                <li>Về chúng tôi</li>
                <li>Điều khoản &amp; điều kiện</li>
                <li>Điều khoản &amp; yêu cầu</li>
                <li>Đơn đặt hàng</li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="text list-unstyled text-muted">
                <li><strong>MY ACCOUNT</strong></li>
                <li>Giỏ hàng</li>
                <li>Sản phẩm yêu thích</li>
                <li>Sản phẩm thường xem</li>
                <li>Kiểm tra</li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="pay">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="para para--pay">CopyRight@ 2015 - 2019 | Danang Sun-asterisk</p>
              </div>
              <div class="col-6 col-md-3 offset-md-3"><a href="#"><img class="gird__img" src="../../asset/images/pay.png"></a></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Optional JavaScript-->
      <!-- jQuery first, then Popper.js, then Bootstrap JS-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
  </body>
</html>