
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Resgister</title>
    <link rel="stylesheet" href="../../asset/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light custom-nav">
      <div class="container"><a class="navbar-brand custom-nav--brand" href="./pug/home.html"><img class="custom-nav--logo" src="../../asset/images/logo.png"/></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mx-auto mt-2 mt-lg-0 custom-nav--list">
            <li class="nav-item active"><a class="nav-link" href="#">Trang chủ<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#">Giới thiệu</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="dropdownId" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId"><a class="dropdown-item" href="#">
                  Action
                  1</a><a class="dropdown-item" href="#">Action 2</a></div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Tin tức<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#">Bản đồ</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
          </ul><i class="fas fa-shopping-cart custom-nav--cart mr-5 ml-5"></i>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit"></button>
          </form>
        </div>
      </div>
    </nav>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb custom-breadcrumb">
        <div class="container">
          <div class="row">
            <li class="breadcrumb-item"><a href="../pug/home.html">Home</a></li>
            <li class="breadcrumb-item">Đăng ký</li>
          </div>
        </div>
      </ol>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <h4 class="para">ĐĂNG KÝ</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wrap-form mb-5">
            <div class="form-group custom-form">
              <h6>THÔNG TIN CÁ NHÂN</h6>
              <label for="">Tên trước*</label>
              <input class="form-control" type="text" name="" id="" aria-describedby="helpId"/>
              <label for="">Tên sau*</label>
              <input class="form-control" type="text" name="" id="" aria-describedby="helpId"/>
              <label for="">Email*</label>
              <input class="form-control" type="text" name="" id="" aria-describedby="helpId"/>
              <label for="">Password*</label>
              <input class="form-control mb-3" type="text" name="" id="" aria-describedby="helpId"/>
              <hr/>
              <h6>THÔNG TIN CÁ NHÂN</h6>
              <label for="">Mật khẩu*</label>
              <input class="form-control" type="text" name="" id="" aria-describedby="helpId"/>
              <label for="">Xác nhận mật khẩu*</label>
              <input class="form-control" type="text" name="" id="" aria-describedby="helpId"/>
            </div>
            <div class="row">
              <div class="col-sm-2 mr-auto"><a class="btn btn-dark custom-btn pr-4 pl-4 mt-2" href="#" role="button">GỬI</a></div>
              <div class="col-sm-2"><a class="btn btn-dark custom-btn pr-4 pl-4 mt-2" href="#" role="button">⇐ QUAY LẠI</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="text list-unstyled text-muted">
              <li><strong>LIÊN HỆ VỚI CHÚNG TÔI</strong></li>
              <li>tầng 4, tòa nhà Hanoi Group Số 442 Hàng Giấy, Quận Hoàn Kiếm, Thành phố Hà Nội</li>
              <li>(04) 6674 2332 - (04) 5785 2015</li>
              <li>(04) 6674 2332 - Tinphamtp@gmail.com</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>CHUYỂN HÀNG</strong></li>
              <li>Mua sắm trực tuyến</li>
              <li>Chính sách vận chuyển</li>
              <li>Chính sách người dùng</li>
              <li>Thông tin vận chuyển</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>HỖ TRỢ</strong></li>
              <li>Our story</li>
              <li>Thanh toán an toàn</li>
              <li>Thanh toán nhanh</li>
              <li>Chính sách vận chuyển</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>THÔNG TIN</strong></li>
              <li>Về chúng tôi</li>
              <li>Điều khoản &amp; điều kiện</li>
              <li>Điều khoản &amp; yêu cầu</li>
              <li>Đơn đặt hàng</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="text list-unstyled text-muted">
              <li><strong>MY ACCOUNT</strong></li>
              <li>Giỏ hàng</li>
              <li>Sản phẩm yêu thích</li>
              <li>Sản phẩm thường xem</li>
              <li>Kiểm tra</li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div class="pay">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p class="para para--pay">CopyRight@ 2015 - 2019 | Danang Sun-asterisk</p>
            </div>
            <div class="col-6 col-md-3 offset-md-3"><a href="#"><img class="shoppingCart--img" src="../../asset/images/pay.png"/></a></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>